services:
  app:
    build: 
      context: ./src
    container_name: shopping_api_app
    ports:
      - "3000:3000"
    environment:
      - DB_CLIENT=mysql
      - DB_HOST=mysql_db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=shopping_db
      - PORT=3000
    depends_on:
      mysql_db:
        condition: service_healthy

  mysql_db:
    image: mysql:8.0
    container_name: shopping_mysql_db
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=shopping_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: shopping_phpmyadmin
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=mysql_db
      - MYSQL_ROOT_PASSWORD=rootpassword
    depends_on:
      mysql_db:
        condition: service_healthy

volumes:
  mysql_data:
