PORT=3000
# DB_CLIENT can be 'mysql' or 'sqlite'
DB_CLIENT=mysql

# MySQL Configuration
DB_HOST=mysql_db
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=shopping_db

# SQLite Configuration (Used if DB_CLIENT=sqlite)
SQLITE_FILE_PATH=./data/shopping.sqlite
